<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./dist/css/reset.min.css">
  <link rel="stylesheet" href="./dist/css/main.min.css">
  <title>Section Type 1</title>
</head>

<body>

  <main>
    <section class="section section-1">
      <h2>Planetfunk Designs: Our not-so-secret layouts</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, laudantium ab? Velit fugiat numquam itaque odio
        adipisci ullam laudantium aspernatur corrupti cupiditate officia. Vero vel optio quas culpa perferendis
        recusandae.</p>
    </section>
    <section class="section secondary primary section-2">
      <div class="prev">
        <div class="section-bg"></div>
        <div class="section-content">
          <h2>Distribution</h2>
          <p>How much excess inventory is stranded in supply chains</p>
        </div>
      </div>
      <div class="post"></div>

    </section>
    <section class="section secondary section-3">
      <div>
        <div>
          <h2>Supply</h2>
          <p>How much excess inventory is stranded in supply chains</p>
        </div>
      </div>
    </section>
    <section class="section secondary section-4">
      <div class="prev">
        <div class="section-bg"></div>
        <div class="section-content">
          <h2>Transportation</h2>
          <p>How much excess inventory is stranded in supply chains</p>
        </div>
      </div>
      <div class="post"></div>
    </section>
    <section class="section secondary section-5">
      <div>
        <div>
          <h2>Economics</h2>
          <p>How much excess inventory is stranded in supply chains</p>
        </div>
      </div>
    </section>
    <section class="section secondary section-6">
      <div class="prev">
        <div class="section-bg"></div>
        <div class="section-content">
          <h2>Economics</h2>
          <p>How much excess inventory is stranded in supply chains</p>
        </div>
      </div>
      <div class="post"></div>
    </section>
    <section class="section primary section-7">
      <h2>Traditional software is failing to support today's business leaders.</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, laudantium ab? Velit fugiat numquam itaque odio
        adipisci ullam laudantium aspernatur corrupti cupiditate officia. Vero vel optio quas culpa perferendis
        recusandae.</p>
    </section>
  </main>

</body>

</html>