<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="./dist/css/reset.min.css">
	<link rel="stylesheet" href="./dist/css/main.min.css">
	<title>Card Component</title>
</head>

<body>
	<main>
		<section>
			<div id="wrapper" class="skewed">
				<div class="layer top">
					<div class="content-wrap inner-slide__top current-top">
						<img
							src="https://images.pexels.com/photos/2088202/pexels-photo-2088202.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
							alt="">
					</div>
					<div class="content-wrap inner-slide__top current-top">
						<img
							src="https://images.pexels.com/photos/1484728/pexels-photo-1484728.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
							alt="">
					</div>
				</div>
				<div class="layer bottom">
					<div class="content-wrap inner-slide__bot current-bot">
						<img
							src="https://images.pexels.com/photos/2088167/pexels-photo-2088167.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
							alt="">
					</div>
					<div class="content-wrap inner-slide__bot current-bot">
						<img
							src="https://images.pexels.com/photos/1743367/pexels-photo-1743367.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
							alt="">
					</div>
				</div>
			</div>
			<div class="flag0">
				<h2>Planetfunk Designs</h2>
				<p>
					Tailormade software design that reinforces your brand and supports your success.
				</p>
				<p>
					<i class="fas fa-plus"></i>
					VIEW MORE</p>
				<a href=""></a>
			</div>
			<div class="flag1">
			</div>
			<div class="flag2">
				<div class="flag-container">
					<div class="flag-header">
						<h2>Lorem, ipsum dolor.</h2>
					</div>
					<div class="flag-medium">
						<p><i class="far fa-square"></i><i class="far fa-square"></i></p>
					</div>
					<div class="flag-desc">
						<p>A former clothing factory in San Francisco’s SoMa district is converted into an edgy, yet approachable
							wine tasting room and events space.</p>
					</div>
					<div class="flag-link">
						<p><i class="fas fa-plus"></i>VIEW PROJECT</p>
					</div>
				</div>
				<a href="#"></a>
			</div>
			<div class="flag3">
			</div>
		</section>
	</main>

	<script src="main.js"></script>
</body>

</html>